openapi: 3.1.0
info:
  contact:
    email: contact@plainlyvideos.com
  description: |
    This is a reference for the **PlainlyVideos REST API**.

    You would generally use this API together with [Plainly Web App](https://app.plainlyvideos.com) and primary goal of the REST API is to enable users to render videos on demand using the REST API calls.
    Our API has predictable resource-oriented URLs, accepts JSON-encoded request bodies (if not otherwise specified), returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.

    Read the [Developer guide](https://help.plainlyvideos.com/docs/developer-guide) for more information on how to use the API.

    ### Authentication
    The API key is needed to authorize requests.
    You can get your API key in the [Settings](https://app.plainlyvideos.com/dashboard/user/settings) section of the Plainly Web App Dashboard.
    To authorize use the API key as the username in the basic HTTP authentication, leaving the password empty.

    ### Errors
    Plainly uses conventional HTTP response codes to indicate the success or failure of an API request.
    In general, codes in the `2xx` range indicate success.
    Codes in the `4xx` range indicate an error that failed given the information provided and codes in the `5xx` range indicate an error on our side.

    The response body in a case of an error will contain the basic information about the error (message, status, timestamp, etc) and will be JSON-encoded.
    In many cases we will include the `X-PlainlyErrorCode` header in the response, which contains the error code and helps in categorizing errors.

    ### Backward compatibility
    API is considered to be in the stable state and we don't expect any breaking changes in the future.
    However, you should regularly check the API documentation for any updates and deprecations.

    ### Rate limiting
    The API is rate limited to 400 requests per minute in average (per user).
    We support burst of up to 600 requests in a single minute.
    If you exceed above limits, you will get a `429 Too Many Requests` response, including `Retry-After` and `X-Retry-In` headers, for subsequent requests.
    Note that since the rate limiting is performed on the load balancer level, the response will not have the content type `application/json` and will not contain the usual error information in the response body.
  termsOfService: https://plainlyvideos.com/terms/
  title: PlainlyVideos API V2
  version: 0.19.20.e9e039f4
servers:
- description: The API V2 production server.
  url: https://api.plainlyvideos.com
tags:
- name: Designs
- description: "Read the [Projects API developer guide](https://help.plainlyvideos.com/docs/developer-guide/projects-api)\
    \ introduction on managing projects using the API."
  name: Projects
- description: "Read the [Templates API developer guide](https://help.plainlyvideos.com/docs/developer-guide/templates-api)\
    \ introduction on managing templates using the API."
  name: Templates
- description: "Read the [Renders API developer guide](https://help.plainlyvideos.com/docs/developer-guide/renders-api)\
    \ introduction on managing renders using the API."
  name: Renders
- name: VideoGenius / Brands
- name: VideoGenius / Articles
- name: VideoGenius / Videos
- name: Utilities
- name: Apps
paths:
  /api/v2/apps/twitter:
    post:
      deprecated: true
      description: Renders a Twitter based design using the integration that automatically
        fetches the tweet data.
      operationId: render_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TwitterAppDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedRender"
          description: Render created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - APP_DESIGN_NOT_SUPPORTED
                - APP_TWITTER_TWEET_URL_NOT_VALID
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - DESIGN_VARIANT_DOES_NOT_EXIST
                - DESIGN_DOES_NOT_EXIST
                - APP_TWITTER_TWEET_NOT_FOUND
              style: simple
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad gateway.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - APP_TWITTER_GATEWAY_ERROR
              style: simple
      security:
      - ApiKey: []
      summary: Twitter
      tags:
      - Apps
  /api/v2/designs:
    get:
      description: Gets all the available designs.
      operationId: getDesigns
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Design"
          description: Returns a list of all available designs.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: List All Designs
      tags:
      - Designs
    post:
      description: Renders a design.
      operationId: renderDesign
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignRenderDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedRender"
          description: Render created.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - DESIGN_DOES_NOT_EXIST
                - DESIGN_VARIANT_DOES_NOT_EXIST
                - RENDER_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Render Design
      tags:
      - Designs
  /api/v2/designs/{designId}:
    get:
      description: Gets a specific design by its ID.
      operationId: getDesign
      parameters:
      - in: path
        name: designId
        required: true
        schema:
          $ref: "#/components/schemas/DesignIds"
          description: The ID of a design.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Design"
          description: Successfully retrieved the design.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - DESIGN_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Get Single Design
      tags:
      - Designs
  /api/v2/me:
    get:
      description: Returns basic info about the organization.
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponseDto"
          description: Call successful.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: Organization Info
      tags:
      - Utilities
  /api/v2/projects:
    get:
      description: Returns all projects available for your organization.
      operationId: getAll_2
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DestructedProject"
                  minItems: 0
                  uniqueItems: true
                minItems: 0
                uniqueItems: true
          description: Call successful.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: List All Projects
      tags:
      - Projects
    post:
      description: "Creates a new project. Please check the [following guidelines](https://help.plainlyvideos.com/docs/user-guide/projects)\
        \ in order to learn how to prepare your project files for the upload."
      operationId: createFromUpload
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                aeVersion:
                  type: string
                  default: AE2025
                  description: "The After Effects version of the project. Used as\
                    \ a preliminary processing reference, the project analysis will\
                    \ ensure correct project version is detected anyway."
                  enum:
                  - AE2023_AMD64
                  - AE2024
                  - AE2025
                description:
                  type: string
                  description: The description of the project
                file:
                  type: string
                  format: binary
                  description: The project ZIP file to upload. Maximum size 300 MB.
                folder:
                  type: string
                  description: "The folder where the project will be stored. If not\
                    \ provided, the project will be findable in the root folder on\
                    \ the UI. The format should be `/folder/sub-folder`, where `/`\
                    \ is a separator. If you want to create a root folder, use `/`\
                    \ as a value. Only alphanumeric characters, spaces, underscores,\
                    \ hyphens and slashes are allowed."
                  example: /My_folder/Example subfolder
                name:
                  type: string
                  description: The name of the project
                tags:
                  type: array
                  items:
                    type: string
                    description: "The tags of the project. Note that since this endpoint\
                      \ consumes `multipart/form-data`, multiple tags should be defined\
                      \ as `tag1,tag2`."
                  minItems: 0
                  uniqueItems: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedProject"
          description: Call successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_UPLOAD_AEP_FILE_DUPLICATE
                - PROJECT_UPLOAD_AEP_FILE_NOT_FOUND
                - PROJECT_UPLOAD_AEP_FILE_EMPTY
                - PROJECT_UPLOAD_CHAR_ENCODING_WRONG
                - PROJECT_UPLOAD_ASSET_PATH_WRONG
                - PROJECT_UPLOAD_PROCESSING_FAILED
                - PROJECT_UPLOAD_ZIP_FILE_INVALID
              style: simple
      security:
      - ApiKey: []
      summary: Create Project
      tags:
      - Projects
  /api/v2/projects/upgrade-all:
    post:
      description: |2-
         Requests upgrade for all projects within organization, in order to switch to the latest After Effects version.

        > NOTE: Upgrade errors are silently ignored for projects that can't be upgraded or are already upgraded.
      operationId: upgradeAll
      responses:
        "200":
          description: Call successful.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: Upgrade All Projects
      tags:
      - Projects
  /api/v2/projects/{projectId}:
    delete:
      description: Deletes an existing project.
      operationId: delete_1
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            '*/*':
              schema:
                type: object
          description: Call successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_NOT_ANALYZED
                - PROJECT_HAS_ACTIVE_RENDERS
                - PROJECT_ANALYSIS_PENDING
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Delete Project
      tags:
      - Projects
    get:
      description: Returns a project by ID.
      operationId: getOne_1
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedProject"
          description: Call successful.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Get Single Project
      tags:
      - Projects
    post:
      description: |
        Edit an existing project. Please check the [following guidelines](https://help.plainlyvideos.com/docs/user-guide/projects) in order to learn how to prepare your project files for the upload.
      operationId: edit
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                aeVersion:
                  type: string
                  default: AE2025
                  description: "The After Effects version of the updated project.\
                    \ Used as a preliminary processing reference, the project analysis\
                    \ will ensure correct project version is detected anyway."
                  enum:
                  - AE2022
                  - AE2023_AMD64
                  - AE2024
                  - AE2025
                description:
                  type: string
                  description: The description of the project
                file:
                  type: string
                  format: binary
                  description: The project ZIP file to upload. Maximum size 300 MB.
                folder:
                  type: string
                  description: "The folder where the project will be stored. If not\
                    \ provided, the project will be findable in the root folder on\
                    \ the UI. The format should be `/folder/sub-folder`, where `/`\
                    \ is a separator. If you want to create a root folder, use `/`\
                    \ as a value. Only alphanumeric characters, spaces, underscores,\
                    \ hyphens and slashes are allowed."
                  example: /My_folder/Example subfolder
                name:
                  type: string
                  description: The name of the project
                strictFontChecks:
                  type: string
                  description: "Controls the strictness of the font checks during\
                    \ the rendering. If set to `ENABLED`, the render will fail if\
                    \ the font can't support the characters in the text. If set to\
                    \ `DISABLED`, the render will continue, but the text will be rendered\
                    \ with a fallback font."
                  enum:
                  - DEFAULT
                  - ENABLED
                  - DISABLED
                tags:
                  type: array
                  items:
                    type: string
                    description: "The tags of the project. Note that since this endpoint\
                      \ consumes `multipart/form-data`, multiple tags should be defined\
                      \ as `tag1,tag2`."
                  minItems: 0
                  uniqueItems: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedProject"
          description: Call successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_UPLOAD_AEP_FILE_DUPLICATE
                - PROJECT_UPLOAD_AEP_FILE_NOT_FOUND
                - PROJECT_UPLOAD_AEP_FILE_EMPTY
                - PROJECT_UPLOAD_CHAR_ENCODING_WRONG
                - PROJECT_UPLOAD_ASSET_PATH_WRONG
                - PROJECT_UPLOAD_PROCESSING_FAILED
                - PROJECT_UPLOAD_ZIP_FILE_INVALID
                - PROJECT_NOT_ANALYZED
                - PROJECT_RE_UPLOAD_HAS_ACTIVE_RENDERS
                - PROJECT_ANALYSIS_PENDING
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal server error.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_RE_UPLOAD_BACKUP_FAILED
              style: simple
      security:
      - ApiKey: []
      summary: Edit Project
      tags:
      - Projects
  /api/v2/projects/{projectId}/meta:
    get:
      description: Returns a project metadata defined by Plainly project analysis.
      operationId: getProjectMetaData
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      - description: If the results should be returned in tree or flat fashion. Note
          that `flatten` option is currently in beta.
        example: tree
        in: query
        name: responseType
        required: false
        schema:
          type: string
          default: tree
          enum:
          - tree
          - flatten
          pattern: tree|flatten
      - in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - type: COMPOSITION
                internalId: "13251"
                name: Big Sale Promotion
                id: 13251
                duration: 5
                workAreaStart: 0
                width: 720
                height: 720
                guideLayer: false
                adjustmentLayer: false
                enabled: true
                shy: false
                children:
                - type: TEXT
                  internalId: "25894"
                  name: EDIT-color-1(Yellow Default)
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: FFEA63
                  font: Poppins-Black
                  fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                  fontStyle: Black
                  fontFamily: Poppins
                  fontSize: 18
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  isParagraph: false
                  allCaps: false
                  leading: 21.6000003814697
                  tracking: 0
                - type: TEXT
                  internalId: "25892"
                  name: EDIT-color-2(Bright Blue Default)
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: 0065F2
                  font: Poppins-Black
                  fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                  fontStyle: Black
                  fontFamily: Poppins
                  fontSize: 18
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  isParagraph: false
                  allCaps: false
                  leading: 21.6000003814697
                  tracking: 0
                - type: TEXT
                  internalId: "25903"
                  name: EDIT-color-3(Dark Blue Default)
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: 00274A
                  font: Poppins-Black
                  fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                  fontStyle: Black
                  fontFamily: Poppins
                  fontSize: 18
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  isParagraph: false
                  allCaps: false
                  leading: 21.6000003814697
                  tracking: 0
                - type: TEXT
                  internalId: "25905"
                  name: EDIT-color-top-text(Dark Blue Default)
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: 00274A
                  font: Poppins-Black
                  fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                  fontStyle: Black
                  fontFamily: Poppins
                  fontSize: 18
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  isParagraph: false
                  allCaps: false
                  leading: 21.6000003814697
                  tracking: 0
                - type: TEXT
                  internalId: "25899"
                  name: EDIT-color-mid-text(White Default)
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: FFFFFF
                  font: Poppins-Black
                  fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                  fontStyle: Black
                  fontFamily: Poppins
                  fontSize: 18
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  isParagraph: false
                  allCaps: false
                  leading: 21.6000003814697
                  tracking: 0
                - type: TEXT
                  internalId: "25907"
                  name: EDIT-color-bot-text(White Default)
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: FFFFFF
                  font: Poppins-Black
                  fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                  fontStyle: Black
                  fontFamily: Poppins
                  fontSize: 18
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  isParagraph: false
                  allCaps: false
                  leading: 21.6000003814697
                  tracking: 0
                - type: MEDIA
                  internalId: "25893"
                  name: color-1-solid
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: "#2e4fe7"
                  width: 1920
                  height: 1080
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: false
                  shy: true
                  effects: []
                - type: MEDIA
                  internalId: "25891"
                  name: color-2-solid
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: "#2e4fe7"
                  width: 1920
                  height: 1080
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: false
                  shy: true
                  effects: []
                - type: MEDIA
                  internalId: "25898"
                  name: color-3-solid
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: "#2e4fe7"
                  width: 1920
                  height: 1080
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: false
                  shy: true
                  effects: []
                - type: MEDIA
                  internalId: "25902"
                  name: color-4-solid
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: "#2e4fe7"
                  width: 1920
                  height: 1080
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: false
                  shy: true
                  effects: []
                - type: MEDIA
                  internalId: "25904"
                  name: color-5-solid
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: "#2e4fe7"
                  width: 1920
                  height: 1080
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: false
                  shy: true
                  effects: []
                - type: MEDIA
                  internalId: "25906"
                  name: color-6-solid
                  startTime: 0
                  inPoint: 0
                  outPoint: 60
                  value: "#2e4fe7"
                  width: 1920
                  height: 1080
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: false
                  shy: true
                  effects: []
                - type: COMPOSITION
                  internalId: "25452"
                  name: discount ammount
                  startTime: 0
                  inPoint: 0
                  outPoint: 5.06666666666667
                  layerName: discount ammount
                  id: 25452
                  duration: 7.04037370704037
                  workAreaStart: 0
                  width: 288
                  height: 65
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "25880"
                    name: boundingBox
                    startTime: 0
                    inPoint: 0
                    outPoint: 60
                    value: "#848484"
                    width: 250
                    height: 500
                    mediaType: SOLID
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: false
                    shy: true
                    effects: []
                  - type: TEXT
                    internalId: "25454"
                    name: EDIT-discount ammount
                    startTime: 0
                    inPoint: 0
                    outPoint: 7.04037370704037
                    value: 30% oFF ON EVERYTHING
                    font: Poppins-Black
                    fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                    fontStyle: Black
                    fontFamily: Poppins
                    fontSize: 67
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    isParagraph: false
                    allCaps: true
                    leading: 80.4000015258789
                    tracking: 0
                - type: COMPOSITION
                  internalId: "25438"
                  name: mid text
                  startTime: 0
                  inPoint: 0
                  outPoint: 5.06666666666667
                  layerName: mid text
                  id: 25438
                  duration: 7.04037370704037
                  workAreaStart: 0
                  width: 288
                  height: 65
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "25884"
                    name: boundingBox
                    startTime: 0
                    inPoint: 0
                    outPoint: 60
                    value: "#848484"
                    width: 250
                    height: 500
                    mediaType: SOLID
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: false
                    shy: true
                    effects: []
                  - type: TEXT
                    internalId: "25440"
                    name: EDIT-mid text
                    startTime: 0
                    inPoint: 0
                    outPoint: 7.04037370704037
                    value: SALE
                    font: Poppins-Black
                    fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                    fontStyle: Black
                    fontFamily: Poppins
                    fontSize: 67
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    isParagraph: false
                    allCaps: true
                    leading: 80.4000015258789
                    tracking: 0
                - type: COMPOSITION
                  internalId: "25403"
                  name: type of sale
                  startTime: 0
                  inPoint: 0
                  outPoint: 5.06666666666667
                  layerName: type of sale
                  id: 25403
                  duration: 7.04037370704037
                  workAreaStart: 0
                  width: 288
                  height: 65
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "25882"
                    name: boundingBox
                    startTime: 0
                    inPoint: 0
                    outPoint: 60
                    value: "#848484"
                    width: 250
                    height: 500
                    mediaType: SOLID
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: false
                    shy: true
                    effects: []
                  - type: TEXT
                    internalId: "25426"
                    name: EDIT-type of sale
                    startTime: 0
                    inPoint: 0
                    outPoint: 7.04037370704037
                    value: END OF YEAR
                    font: Poppins-Black
                    fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                    fontStyle: Black
                    fontFamily: Poppins
                    fontSize: 67
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    isParagraph: false
                    allCaps: true
                    leading: 80.4000015258789
                    tracking: 0
                - type: MEDIA
                  internalId: "25401"
                  name: EDIT-color-bg
                  startTime: 0
                  inPoint: 0
                  outPoint: 5.06666666666667
                  value: "#ffffff"
                  width: 800
                  height: 800
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  effects: []
              - type: COMPOSITION
                internalId: "26046"
                name: Insta Story Last Piece Promo
                id: 26046
                duration: 5.00500500500501
                workAreaStart: 0
                width: 720
                height: 1280
                guideLayer: false
                adjustmentLayer: false
                enabled: true
                shy: false
                children:
                - type: COMPOSITION
                  internalId: "26096"
                  name: product name comp
                  startTime: 1.13446780113447
                  inPoint: 1.13446780113447
                  outPoint: 6.13947280613947
                  layerName: product name comp
                  id: 26096
                  duration: 5.00500500500501
                  workAreaStart: 0
                  width: 720
                  height: 106
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "26173"
                    name: boundingBox
                    startTime: 0
                    inPoint: 0
                    outPoint: 60
                    value: "#848484"
                    width: 250
                    height: 500
                    mediaType: SOLID
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: false
                    shy: true
                    effects: []
                  - type: TEXT
                    internalId: "26108"
                    name: edit_product
                    startTime: 0
                    inPoint: 0
                    outPoint: 5
                    value: BIG SALEEEEEE
                    font: Poppins-Black
                    fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                    fontStyle: Black
                    fontFamily: Poppins
                    fontSize: 93.8000030517578
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    isParagraph: false
                    allCaps: true
                    leading: 48.6004104614258
                    tracking: 50
                - type: COMPOSITION
                  internalId: "26120"
                  name: cta comp
                  startTime: 1.6016016016016
                  inPoint: 1.6016016016016
                  outPoint: 6.60660660660661
                  layerName: cta comp
                  id: 26120
                  duration: 5.00500500500501
                  workAreaStart: 0
                  width: 455
                  height: 72
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "26175"
                    name: boundingBox
                    startTime: 0
                    inPoint: 0
                    outPoint: 60
                    value: "#848484"
                    width: 250
                    height: 500
                    mediaType: SOLID
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: false
                    shy: true
                    effects: []
                  - type: TEXT
                    internalId: "26131"
                    name: EDIT-cta
                    startTime: 0
                    inPoint: 0
                    outPoint: 5
                    value: LAst piece
                    font: Poppins-Black
                    fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                    fontStyle: Black
                    fontFamily: Poppins
                    fontSize: 64.0999984741211
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    isParagraph: false
                    allCaps: true
                    leading: 76.9199981689453
                    tracking: 50
                - type: COMPOSITION
                  internalId: "26144"
                  name: price short comp
                  startTime: 2.16883550216884
                  inPoint: 2.16883550216884
                  outPoint: 7.17384050717384
                  layerName: price short comp
                  id: 26144
                  duration: 5.00500500500501
                  workAreaStart: 0
                  width: 160
                  height: 72
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "26169"
                    name: boundingBox
                    startTime: 0
                    inPoint: 0
                    outPoint: 60
                    value: "#848484"
                    width: 250
                    height: 500
                    mediaType: SOLID
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: false
                    shy: true
                    effects: []
                  - type: TEXT
                    internalId: "26154"
                    name: EDIT-price short
                    startTime: 0
                    inPoint: 0
                    outPoint: 5
                    value: $99
                    font: Poppins-Black
                    fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                    fontStyle: Black
                    fontFamily: Poppins
                    fontSize: 67
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    isParagraph: false
                    allCaps: false
                    leading: 34.6179695129395
                    tracking: 0
                - type: MEDIA
                  internalId: "26095"
                  name: Null 5
                  startTime: 0
                  inPoint: 0
                  outPoint: 5
                  value: "#ffffff"
                  width: 100
                  height: 100
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: false
                  shy: false
                  effects: []
                - type: MEDIA
                  internalId: "26091"
                  name: edit_image
                  startTime: 0
                  inPoint: 0
                  outPoint: 5
                  value: (Footage)/Assets/pexels-robert-bogdan-910122.jpg
                  width: 1732
                  height: 1155
                  mediaType: IMAGE
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  effects:
                  - type: EFFECT_CHECKBOX_CONTROL
                    name: STC - Scale to Fit (Maintain Ratio)
                    propertyName: Effects.STC - Scale to Fit (Maintain Ratio).Checkbox
                    value: 1
                    keyframeValues: []
                  - type: EFFECT_CHECKBOX_CONTROL
                    name: STC - Scale to Fill
                    propertyName: Effects.STC - Scale to Fill.Checkbox
                    value: 1
                    keyframeValues: []
                  - type: EFFECT_CHECKBOX_CONTROL
                    name: STC - Restore Original Size
                    propertyName: Effects.STC - Restore Original Size.Checkbox
                    value: 0
                    keyframeValues: []
                  - type: EFFECT_CHECKBOX_CONTROL
                    name: STC - Bypass
                    propertyName: Effects.STC - Bypass.Checkbox
                    value: 0
                    keyframeValues: []
                  preview:
                    link: https://storage.googleapis.com/plainlyvideos-user-projects-test/0c83ea04-2728-4e89-b50c-c9825786a25a/%28Footage%29/Assets/pexels-robert-bogdan-910122.jpg?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=plainly-backend-signer-sa%40plainly-test.iam.gserviceaccount.com%2F20250811%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250811T101904Z&X-Goog-Expires=3600&X-Goog-SignedHeaders=host&X-Goog-Signature=5d8f6c8c7859221b0405e8393cd0fdf0527caae0d23929e82a9f6dfb904766c2b13e5ed8ad63f0d21b7c1b7f3011347ea890e62d080dbd16096480e148287100b0a8e4e2c0890a2401013dbff36511c548c592868cfd058692fccdac57d7e27bf4d4c16ba93a4fc543a257cd2bac2cb786862b75ee04ffb910a4d288f991c6fd38f7b1e0ac25f6ac51b873b66563dc97e9cb4bbebd76f9d2ac019daeb1c186c2bd1151265bacb79564db15743d64d412810dcd1cc946a68357096b64fad176314f37b61e50b32f8f4684c47bd33476513de81103c90dd7756df8f30be5e908f561f2139a8eba607d4c910a05efbc065929f5b353dd5c7e75f3fb738abac9d88a
                    expiresAt: 2025-08-11T11:19:04.328587098Z
                    internal: false
              - type: COMPOSITION
                internalId: "16215"
                name: Single Product Promo
                id: 16215
                duration: 6.03333333333333
                workAreaStart: 0
                width: 720
                height: 720
                guideLayer: false
                adjustmentLayer: false
                enabled: true
                shy: false
                children:
                - type: COMPOSITION
                  internalId: "25984"
                  name: discount comp
                  startTime: 1.36
                  inPoint: 1.36
                  outPoint: 6.04
                  layerName: discount comp
                  id: 25984
                  duration: 4.68
                  workAreaStart: 0
                  width: 1080
                  height: 194
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "26045"
                    name: boundingBox
                    startTime: 0
                    inPoint: 0
                    outPoint: 60
                    value: "#848484"
                    width: 250
                    height: 500
                    mediaType: SOLID
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: false
                    shy: true
                    effects: []
                  - type: TEXT
                    internalId: "26001"
                    name: EDIT-discount
                    startTime: -0.72
                    inPoint: 0
                    outPoint: 4.68
                    value: 30% OFF
                    font: Poppins-Black
                    fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                    fontStyle: Black
                    fontFamily: Poppins
                    fontSize: 266
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    isParagraph: false
                    allCaps: true
                    leading: 25.0997009277344
                    tracking: 0
                - type: COMPOSITION
                  internalId: "26013"
                  name: price comp
                  startTime: 0.72
                  inPoint: 0.72
                  outPoint: 6.04
                  layerName: price comp
                  id: 26013
                  duration: 5.32
                  workAreaStart: 0
                  width: 1080
                  height: 228
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "26043"
                    name: boundingBox
                    startTime: 0
                    inPoint: 0
                    outPoint: 60
                    value: "#848484"
                    width: 250
                    height: 500
                    mediaType: SOLID
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: false
                    shy: true
                    effects: []
                  - type: TEXT
                    internalId: "26028"
                    name: EDIT-price
                    startTime: -0.72
                    inPoint: 0
                    outPoint: 5.32
                    value: "$199,99"
                    font: Poppins-Black
                    fontLocation: C:\Program Files\Common Files\Adobe\Fonts\Poppins-Black.ttf
                    fontStyle: Black
                    fontFamily: Poppins
                    fontSize: 266
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    isParagraph: false
                    allCaps: false
                    leading: 31.9737205505371
                    tracking: 0
                - type: COMPOSITION
                  internalId: "25942"
                  name: product pic comp
                  startTime: 0
                  inPoint: 0
                  outPoint: 6.04
                  layerName: product pic comp
                  id: 25942
                  duration: 6.04
                  workAreaStart: 0
                  width: 500
                  height: 500
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  children:
                  - type: MEDIA
                    internalId: "25954"
                    name: EDIT-example 2 product pic
                    startTime: 0
                    inPoint: 0
                    outPoint: 6.04
                    value: (Footage)/Assets/generic%20keyboard.jpg
                    width: 500
                    height: 500
                    mediaType: IMAGE
                    guideLayer: false
                    adjustmentLayer: false
                    enabled: true
                    shy: false
                    effects:
                    - type: EFFECT_CHECKBOX_CONTROL
                      name: STC - Scale to Fit (Maintain Ratio)
                      propertyName: Effects.STC - Scale to Fit (Maintain Ratio).Checkbox
                      value: 1
                      keyframeValues: []
                    - type: EFFECT_CHECKBOX_CONTROL
                      name: STC - Scale to Fill
                      propertyName: Effects.STC - Scale to Fill.Checkbox
                      value: 1
                      keyframeValues: []
                    - type: EFFECT_CHECKBOX_CONTROL
                      name: STC - Restore Original Size
                      propertyName: Effects.STC - Restore Original Size.Checkbox
                      value: 0
                      keyframeValues: []
                    - type: EFFECT_CHECKBOX_CONTROL
                      name: STC - Bypass
                      propertyName: Effects.STC - Bypass.Checkbox
                      value: 0
                      keyframeValues: []
                    preview:
                      link: https://storage.googleapis.com/plainlyvideos-user-projects-test/0c83ea04-2728-4e89-b50c-c9825786a25a/%28Footage%29/Assets/generic%20keyboard.jpg?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=plainly-backend-signer-sa%40plainly-test.iam.gserviceaccount.com%2F20250811%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250811T101904Z&X-Goog-Expires=3600&X-Goog-SignedHeaders=host&X-Goog-Signature=915cd5e63f1bb65f8505fb2f648ebc67806ed4b7a466ea746753a8151b021d01c40ec9238c774375625887e827a5e828837d68f061124e0df33d2f56b52cea1e47de5aec955716dcd39e6f9385be152fd9e8a2c5b94e8a9d88031f704475d40b3b68b93d2d806f7128aa7e1f254bbd52d12467202fad3904c22eb0398532f5e6d89627f82a67edec461ea12092d3c77e24842254d846de798e3566fcfd9655b40b2d71483d9d59b226e43eebd443ee5512d25398eb43fdcea2624e60065c1addead7edd47337376a8b9989e306c78d49cdb987dd5a8ca384e1ef2db0b712d33d036ebdbac8bc994c3122e69a054fea062684447ff26a75acb6f295affd2beae7
                      expiresAt: 2025-08-11T11:19:04.330854605Z
                      internal: false
                - type: MEDIA
                  internalId: "25910"
                  name: bg
                  startTime: 0
                  inPoint: 0
                  outPoint: 6.04
                  value: "#00274a"
                  width: 800
                  height: 800
                  mediaType: SOLID
                  guideLayer: false
                  adjustmentLayer: false
                  enabled: true
                  shy: false
                  effects: []
              schema:
                type: array
                items:
                  type: string
                  oneOf:
                  - $ref: "#/components/schemas/AeItem"
                  - $ref: "#/components/schemas/FlattenAeItem"
          description: "Call successful. Note that there are guarantees on the Metadata\
            \ schema, it can change at any time."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_NOT_ANALYZED
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Get Metadata
      tags:
      - Projects
  /api/v2/projects/{projectId}/reanalyze:
    post:
      description: |-
        Requests project re-analysis in order to confirm project validity for rendering.

        > NOTE: Only one re-analysis is allowed per project for the same Plainly platform version.
      operationId: reanalyze
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DestructedProject"
          description: Call successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_ANALYSIS_PENDING
                - PROJECT_ANALYSIS_REANALYZE_LIMIT
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Re-analyze Project
      tags:
      - Projects
  /api/v2/projects/{projectId}/share:
    post:
      description: |-
        Controls project sharing via the static links.

        > NOTE: This feature is only available for subscriptions on *Team* and *Pro* packages, and during the free trial.
      operationId: share
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectShareDto"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DestructedProject"
          description: Call successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - FEATURE_GATING_NOT_ALLOWED
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Share Project
      tags:
      - Projects
  /api/v2/projects/{projectId}/templates:
    post:
      description: Creates a new template in a project.
      operationId: create
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      - description: "The type of response to return. Can be `project` (default) which\
          \ means response will be a project where template is located, or `template`\
          \ which means response will be the template itself."
        in: query
        name: responseType
        required: false
        schema:
          type: string
          enum:
          - project
          - template
          pattern: project|template
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTemplateDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
                anyOf:
                - $ref: "#/components/schemas/DestructedProject"
                - $ref: "#/components/schemas/DestructedTemplate"
          description: "Call successful. Returns the project with added template as\
            \ body by default, or template representation if the query param `responseType`\
            \ has value `template`."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_METADATA_COMPOSITION_DOES_NOT_EXIST
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Create Template
      tags:
      - Templates
  /api/v2/projects/{projectId}/templates/auto-generate:
    post:
      description: Auto creates one or more templates based on provided auto-create
        type and its settings.
      operationId: autoCreateTemplates
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoCreateTemplateDto"
        description: The auto-create template settings.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
                anyOf:
                - $ref: "#/components/schemas/DestructedProject"
          description: "Call successful. Returns the project with all templates, including\
            \ newly created templates as well."
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Auto Create Templates
      tags:
      - Templates
  /api/v2/projects/{projectId}/templates/{templateId}:
    delete:
      description: Deletes a template from a project.
      operationId: delete
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      - description: The ID of a template.
        example: 1b2081db-9881-4b2d-bde9-41d167d94e8e
        in: path
        name: templateId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedProject"
          description: Call successful. Returns the updated project as body.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
                - PROJECT_TEMPLATE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Delete Template
      tags:
      - Templates
    get:
      description: Returns a template from a project by Project ID and Template ID.
      operationId: get
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      - description: The ID of a template.
        example: 1b2081db-9881-4b2d-bde9-41d167d94e8e
        in: path
        name: templateId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedTemplate"
          description: Call successful. Returns the template as body.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
                - PROJECT_TEMPLATE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Get Single Template
      tags:
      - Templates
    put:
      description: Updates a new template in a project.
      operationId: update
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      - description: The ID of a template.
        example: 1b2081db-9881-4b2d-bde9-41d167d94e8e
        in: path
        name: templateId
        required: true
        schema:
          type: string
      - description: "The type of response to return. Can be `project` (default) which\
          \ means response will be a project where template is located, or `template`\
          \ which means response will be the template itself."
        in: query
        name: responseType
        required: false
        schema:
          type: string
          enum:
          - project
          - template
          pattern: project|template
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTemplateDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
                anyOf:
                - $ref: "#/components/schemas/DestructedProject"
                - $ref: "#/components/schemas/DestructedTemplate"
          description: "Call successful. Returns the project with added template as\
            \ body by default, or template representation if the query param `responseType`\
            \ has value `template`."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_METADATA_COMPOSITION_DOES_NOT_EXIST
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
                - PROJECT_TEMPLATE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Update Template
      tags:
      - Templates
  /api/v2/projects/{projectId}/templates/{templateId}/clone:
    post:
      description: Clones a template in a project.
      operationId: cloneTemplate
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      - description: The ID of a template.
        example: 1b2081db-9881-4b2d-bde9-41d167d94e8e
        in: path
        name: templateId
        required: true
        schema:
          type: string
      - description: "The type of response to return. Can be `project` (default) which\
          \ means response will be a project where template is located, or `template`\
          \ which means response will be the template itself."
        in: query
        name: responseType
        required: false
        schema:
          type: string
          enum:
          - project
          - template
          pattern: project|template
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
                anyOf:
                - $ref: "#/components/schemas/DestructedProject"
                - $ref: "#/components/schemas/DestructedTemplate"
          description: "Call successful. Returns the project with added template as\
            \ body by default, or template representation if the query param `responseType`\
            \ has value `template`."
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
                - PROJECT_TEMPLATE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Clone Template
      tags:
      - Templates
  /api/v2/projects/{projectId}/templates/{templateId}/default:
    post:
      description: Sets a template in a project as default.
      operationId: setDefault
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      - description: The ID of a template.
        example: 1b2081db-9881-4b2d-bde9-41d167d94e8e
        in: path
        name: templateId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedProject"
          description: Call successful. Returns the project with added template as
            body.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
                - PROJECT_TEMPLATE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Set Default
      tags:
      - Templates
  /api/v2/projects/{projectId}/templates/{templateId}/options:
    post:
      description: Sets a template default rendering options.
      operationId: setOptions
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      - description: The ID of a template.
        example: 1b2081db-9881-4b2d-bde9-41d167d94e8e
        in: path
        name: templateId
        required: true
        schema:
          type: string
      - description: "The type of response to return. Can be `project` (default) which\
          \ means response will be a project where template is located, or `template`\
          \ which means response will be the template itself."
        in: query
        name: responseType
        required: false
        schema:
          type: string
          enum:
          - project
          - template
          pattern: project|template
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenderOptionsDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
                anyOf:
                - $ref: "#/components/schemas/DestructedProject"
                - $ref: "#/components/schemas/DestructedTemplate"
          description: "Call successful. Returns the project with added template as\
            \ body by default, or template representation if the query param `responseType`\
            \ has value `template`."
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
                - PROJECT_TEMPLATE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Update Options
      tags:
      - Templates
  /api/v2/projects/{projectId}/upgrade:
    post:
      description: Requests project upgrade in order to switch to the latest After
        Effects version.
      operationId: upgrade
      parameters:
      - description: The ID of a project.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DestructedProject"
          description: Call successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_ANALYSIS_PENDING
                - PROJECT_NOT_ANALYZED
                - PROJECT_UPGRADE_ALREADY_FAILED
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: The project with given ID does not exist.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Upgrade Project
      tags:
      - Projects
  /api/v2/renders:
    get:
      description: "Returns all renders available for your organization, optionally\
        \ filtered by project and/or template."
      operationId: get_1
      parameters:
      - description: The ID of a project to return renders for (optional).
        example: 3934539a-d7f1-4308-a33c-ca523c0c916a
        in: query
        name: projectId
        required: false
        schema:
          type: string
      - description: "The ID of a template to return renders for (optional). Note\
          \ that if `projectId` is given, the provided `templateId` must be a part\
          \ of the given project."
        example: 0fade64c-588e-44c2-a9ea-d7435372cbfb
        in: query
        name: templateId
        required: false
        schema:
          type: string
      - description: Filters the returned renders by the given state (optional).
        example: DONE
        in: query
        name: state
        required: false
        schema:
          type: string
          description: |
            The state of the render, which can be one of the following:

            * `PENDING` - The render is successfully created and pending for processing.
            * `THROTTLED` - The render has been throttled temporary due to concurrent render limits.
            * `QUEUED` - The render is submitted to a rendering queue.
            * `IN_PROGRESS` - The render is currently being processed on a rendering worker node.
            * `DONE` - The render is successfully finalized and the output video is ready for download.
            * `FAILED` - The render process failed on a rendering worker node.
            * `INVALID` - The render has not been created successfully, as the input data is invalid.
            * `CANCELLED` - The render has been canceled on a user request.
          enum:
          - PENDING
          - THROTTLED
          - QUEUED
          - IN_PROGRESS
          - DONE
          - FAILED
          - INVALID
          - CANCELLED
      - description: Filters the returned renders by the webhook delivery status (optional).
        example: FAILURE
        in: query
        name: webhookStatus
        required: false
        schema:
          type: string
          enum:
          - PENDING
          - RETRYING
          - IGNORED
          - FAILURE
          - SUCCESS
      - description: The number of items to return per page.
        example: 20
        in: query
        name: size
        schema:
          type: string
      - description: The zero-indexed page number to return.
        example: 1
        in: query
        name: page
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DestructedRender"
                  minItems: 0
                  uniqueItems: true
                minItems: 0
                uniqueItems: true
          description: Call successful.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: List All Renders
      tags:
      - Renders
    post:
      description: Invokes a new render generation.
      operationId: render
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectRenderDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedRender"
          description: Render created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_PROJECT_NOT_UPLOADED
                - RENDER_PROJECT_NOT_ANALYZED
                - RENDER_PROJECT_NOT_TEMPLATED
                - RENDER_SCRIPTS_SCENE_MANAGEMENT_TOO_MANY_SCENES
                - RENDER_SCRIPTS_SCENE_MANAGEMENT_PARAMETER_INVALID
                - RENDER_SCRIPTS_SCENE_MANAGEMENT_PARAMETER_MISSING
                - RENDER_SCRIPTS_IMAGE_SEQUENCE_PARAMETER_INVALID
                - RENDER_SCRIPTS_IMAGE_SEQUENCE_PARAMETER_EMPTY
                - RENDER_OUTPUT_MODULE_NOT_SUPPORTED_BY_AFTER_EFFECTS_VERSION
                - RENDER_SETTINGS_TEMPLATE_NOT_SUPPORTED_BY_AFTER_EFFECTS_VERSION
                - RENDER_INPUT_SOLID_COLOR_NOT_VALID
                - RENDER_INPUT_EFFECT_COLOR_CONTROL_NOT_VALID
                - RENDER_INPUT_EFFECT_SLIDER_CONTROL_NOT_VALID
                - RENDER_INPUT_EFFECT_CHECKBOX_CONTROL_NOT_VALID
                - RENDER_INPUT_EFFECT_POINT_CONTROL_NOT_VALID
                - RENDER_INPUT_EFFECT_DROPDOWN_CONTROL_NOT_VALID
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_DOES_NOT_EXIST
                - PROJECT_TEMPLATE_DOES_NOT_EXIST
                - RENDER_DOES_NOT_EXIST
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_ORGANIZATION_QUEUE_FULL
              style: simple
      security:
      - ApiKey: []
      summary: New Render
      tags:
      - Renders
  /api/v2/renders/cancel-all:
    post:
      description: |-
        Cancels all not started renders for your organization, optionally filtered by project and/or template.",

        NOTE: This request return `HTTP 201` and processes cancellation in async mode.
      operationId: cancelAll
      parameters:
      - description: The ID of a project to cancel renders for (optional).
        example: 3934539a-d7f1-4308-a33c-ca523c0c916a
        in: query
        name: projectId
        required: false
        schema:
          type: string
      - description: "The ID of a template to cancel renders for (optional). Note\
          \ that if `projectId` is given, the provided `templateId` must be a part\
          \ of the given project."
        example: 0fade64c-588e-44c2-a9ea-d7435372cbfb
        in: query
        name: templateId
        required: false
        schema:
          type: string
      responses:
        "201":
          description: Action accepted.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: Cancel All Renders
      tags:
      - Renders
  /api/v2/renders/search:
    get:
      description: Return all renders for your organization based on the provided
        search term.
      operationId: getBySearchTerm
      parameters:
      - description: The search term to return renders for.
        example: Twitter
        in: query
        name: searchTerm
        required: false
        schema:
          type: string
      - description: The number of items to return per page.
        example: 20
        in: query
        name: size
        schema:
          type: string
      - description: The zero-indexed page number to return.
        example: 1
        in: query
        name: page
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DestructedRender"
                  minItems: 0
                  uniqueItems: true
                minItems: 0
                uniqueItems: true
          description: Call successful.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: Search Renders
      tags:
      - Renders
  /api/v2/renders/{renderId}:
    delete:
      description: Deletes an existing and processed render.
      operationId: delete_2
      parameters:
      - description: The ID of a render.
        example: 36fea4a1-934b-47c2-8151-875481055ffb
        in: path
        name: renderId
        required: true
        schema:
          type: string
      - description: "When set to `true`, the render assets like video and thumbnails\
          \ will be kept available until the end of the rentention period."
        example: true
        in: query
        name: skipAssets
        required: false
        schema:
          type: boolean
      responses:
        "201":
          content:
            '*/*':
              schema:
                type: object
          description: Call successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_NOT_FINISHED
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Delete Render
      tags:
      - Renders
    get:
      description: Return a render by its ID.
      operationId: getOne_4
      parameters:
      - description: The ID of a render.
        example: 36fea4a1-934b-47c2-8151-875481055ffb
        in: path
        name: renderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedRender"
          description: Call successful.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Get Single Render
      tags:
      - Renders
  /api/v2/renders/{renderId}/cancel:
    post:
      description: Cancels a render if it's not started yet.
      operationId: cancelOne
      parameters:
      - description: The ID of a render.
        example: 36fea4a1-934b-47c2-8151-875481055ffb
        in: path
        name: renderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedRender"
          description: Render maybe cancelled.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Cancel Render
      tags:
      - Renders
  /api/v2/renders/{renderId}/promote:
    post:
      description: Promote render to static link if sharing for the project is enabled.
      operationId: promoteRenderToStaticLink
      parameters:
      - description: The ID of a render.
        example: 36fea4a1-934b-47c2-8151-875481055ffb
        in: path
        name: renderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: Render promoted.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - PROJECT_SHARING_NOT_ENABLED
                - FEATURE_GATING_NOT_ALLOWED_SHARING_LINKS
                - RENDER_EXPIRED
                - RENDER_NOT_FINISHED
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_DOES_NOT_EXIST
                - PROJECT_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Promote Render.
      tags:
      - Renders
  /api/v2/renders/{renderId}/resubmit:
    post:
      description: "Re-renders an existing render. This action effectively creates\
        \ a new render which information is returned as a response. Note that all\
        \ data from the original render will be reused (parameters, output format,\
        \ webhook information, etc)."
      operationId: resubmit
      parameters:
      - description: The ID of a render.
        example: 36fea4a1-934b-47c2-8151-875481055ffb
        in: path
        name: renderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedRender"
          description: Render created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_RESUBMIT_PARAMETRIZATION_ERROR
                - RENDER_PROJECT_NOT_UPLOADED
                - RENDER_PROJECT_NOT_ANALYZED
                - RENDER_PROJECT_NOT_TEMPLATED
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_DOES_NOT_EXIST
                - PROJECT_DOES_NOT_EXIST
                - PROJECT_TEMPLATE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Resubmit Render
      tags:
      - Renders
  /api/v2/renders/{renderId}/webhook:
    post:
      description: Re-triggers webhook call for an existing and finished render.
      operationId: reTriggerWebhook
      parameters:
      - description: The ID of a render.
        example: 36fea4a1-934b-47c2-8151-875481055ffb
        in: path
        name: renderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: Webhook called.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_NOT_FINISHED
                - RENDER_DOES_NOT_HAVE_WEBHOOK
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - RENDER_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Re-trigger webhook
      tags:
      - Renders
  /api/v2/video-genius/brands:
    get:
      description: Returns all brands available for your organization.
      operationId: getAll_1
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DestructedBrand"
                  minItems: 0
                  uniqueItems: true
                minItems: 0
                uniqueItems: true
          description: Call successful.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: List All Brands
      tags:
      - VideoGenius / Brands
    post:
      description: Creates a new brand.
      operationId: createBrand
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBrandDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedBrand"
          description: Call successful. Returns the created brand details as body.
          headers:
            Location:
              description: The URL of the created brand.
              schema:
                format: uri
              style: simple
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: Create Brand
      tags:
      - VideoGenius / Brands
  /api/v2/video-genius/brands/{brandId}:
    delete:
      description: Deletes an existing brand.
      operationId: deleteBrand
      parameters:
      - description: The ID of a brand.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: brandId
        required: true
        schema:
          type: string
      responses:
        "201":
          description: Call successful.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - BRAND_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Delete Brand
      tags:
      - VideoGenius / Brands
    get:
      description: Returns a brand by ID.
      operationId: getOne
      parameters:
      - description: The ID of a brand.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: brandId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedBrand"
          description: Call successful.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - BRAND_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Get Single Brand
      tags:
      - VideoGenius / Brands
    post:
      description: Updates an existing brand.
      operationId: updateBrand
      parameters:
      - in: path
        name: brandId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBrandDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedBrand"
          description: Call successful. Returns the updated brand details as body.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - BRAND_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Update Brand
      tags:
      - VideoGenius / Brands
  /api/v2/video-genius/brands/{brandId}/articles:
    get:
      description: Returns all articles available for a single brand in your organization.
      operationId: getAll
      parameters:
      - description: The ID of a brand.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: brandId
        required: true
        schema:
          type: string
      - description: The number of items to return per page.
        example: 20
        in: query
        name: size
        schema:
          type: string
      - description: The zero-indexed page number to return.
        example: 1
        in: query
        name: page
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DestructedArticle"
                  minItems: 0
                  uniqueItems: true
                minItems: 0
                uniqueItems: true
          description: Call successful.
        "400":
          description: Bad Request
      security:
      - ApiKey: []
      summary: List All Articles for Brand
      tags:
      - VideoGenius / Articles
    post:
      description: Creates a new article for a specific brand.
      operationId: createArticle
      parameters:
      - description: The ID of a brand.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: brandId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateArticleDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedArticle"
          description: Call successful. Returns the created brand details as body.
          headers:
            Location:
              description: The URL of the created article.
              schema:
                format: uri
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad request.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - BRAND_ARTICLE_URL_NOT_FOUND
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - BRAND_ARTICLE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Create Article
      tags:
      - VideoGenius / Articles
  /api/v2/video-genius/brands/{brandId}/articles/{articleId}:
    delete:
      description: Deletes an existing article.
      operationId: deleteArticle
      parameters:
      - description: The ID of a brand.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: brandId
        required: true
        schema:
          type: string
      - description: The ID of an article. It must belong to the given brand.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: articleId
        required: true
        schema:
          type: string
      responses:
        "201":
          description: Call successful.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found.
          headers:
            X-PlainlyErrorCode:
              description: Error code.
              schema:
                enum:
                - BRAND_ARTICLE_DOES_NOT_EXIST
              style: simple
      security:
      - ApiKey: []
      summary: Delete Article
      tags:
      - VideoGenius / Articles
    get:
      description: Returns a article by ID.
      operationId: getOne_3
      parameters:
      - description: The ID of a brand.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: brandId
        required: true
        schema:
          type: string
      - description: The ID of an article. It must belong to the given brand.
        example: 11a1578c-521c-49f4-b1b7-a8df71d87549
        in: path
        name: articleId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestructedArticle"
          description: Call successful.
        "400":
          description: Bad Request
        "404":
          content:
            application/json:
[...]
